body {
  background-color: #232323;
}

h1 {
  color: white;
}
.container {
  width: 30%;
  margin: 0 auto;
}

.square {
  float: left;
  width: 30%;
  height: 100px;
  margin: 1.66%;
  background-color: purple;
}